<app-nav></app-nav>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <label for="gsearch">Search:</label>
    <input type="search" id="gsearch" name="gsearch" />
  </div>

  <div id="container">
    <app-eventos></app-eventos>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="eventos"> Eventos </ion-segment-button>
      <ion-segment-button value="palestrantes">
        Palestrantes
      </ion-segment-button>
      <ion-segment-button value="contatos"> Contatos </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
